:root {
  --dark-mode-elements: hsl(209, 23%, 22%);
  --dark-mode-background: hsl(207, 26%, 17%);
  --light-mode-text: hsl(200, 15%, 8%);
  --light-mode-input: hsl(0, 0%, 52%);
  --light-mode-background: hsl(0, 0%, 98%);
  --light-mode-elements: hsl(0, 0%, 100%);

  --text-color: var(--light-mode-text);
  --background: var(--light-mode-background);
  --elements: var(--light-mode-elements);
  --box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
  --input-color: var(--light-mode-input);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

body {
  color: var(--text-color);
  background-color: var(--background);
  transition: all 0.2s;
}

body.dark {
  --text-color: white;
  --input-color: white;
  --background: var(--dark-mode-background);
  --elements: var(--dark-mode-elements);
}
